<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, page-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>
    <link rel="stylesheet" href="assets/css/github-light.css"/>
    <link rel="stylesheet" href="assets/css/normalize.css"/>
    <link rel="stylesheet" href="assets/css/print.css"/>
    <link rel="stylesheet" href="assets/css/stylesheet.css"/>
    <link rel="stylesheet" href="assets/css/vis.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" class="layout-row" ng-controller="PageController as ul" ng-cloak flex layout-fill>
      <md-sidenav  
        flex 
        layout-fill
        class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-scope"            
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
          <h1>FutureCommerce</h1>
        </md-toolbar>

        <md-list>
          <md-list-item ng-repeat="it in ul.pages">
              <md-button 
                ng-click="ul.selectPage(it)" 
                ng-class="{'selected' : it === ul.selected }" >
                <div layout="row" layout-align="start center">
                  <div layout="column">
                    <i class="material-icons md-48">{{it.avatar}}</i>                            
                  </div>
                  <div layout="column">
                                         
                  </div>
                  <div layout="column">
                    {{it.name}}                
                  </div>
                </div>
              </md-button>
          </md-list-item>
        </md-list>

      </md-sidenav>

  <!-- left-hand side of the page: sidenav -->


  <!-- Right-hand side of the page: content -->
  <div class="layout-column flex">
    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Page List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
        <h1>Hackathon: November 20-22, 2015</h1>        
    </md-toolbar>
    <md-content layout="row">
      <md-content flex layout-padding id="content">
        <ng-include
          src="ul.selected.html"
          onload="string"
          autoscroll="true">
        </ng-include>
      </md-content>
    </md-content>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./assets/js/vis.js"></script>

    <script src="./src/pages/Pages.js"></script>
    <script src="./src/pages/PageController.js"></script>
    <script src="./src/pages/PageService.js"></script>
    <script src="./src/pages/view/DashboardController.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'pages'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"          , "./assets/svg/menu.svg"        , 24)
                      .icon("share"         , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus"   , "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"      , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"       , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"         , "./assets/svg/phone.svg"       , 512)

                      .icon(
                        "dashboard", 
                        "./bower_components/material-design-icons/av/svg/production/ic_equalizer_24px.svg", 
                        24)

                      .icon(
                        "home", 
                        "./bower_components/material-design-icons/action/svg/production/ic_home_24px.svg", 
                        24)

                      .icon("join"          , "./assets/svg/share.svg"       , 24)
                      .icon("participants"  , "./assets/svg/google_plus.svg" , 512)
                      .icon("hackathon"     , "./assets/svg/hangouts.svg"    , 512)
                      .icon("systemposium"  , "./assets/svg/hangouts.svg"    , 512)
                      .icon("timeline"      , "./assets/svg/hangouts.svg"    , 512)
                      .icon("contact"       , "./assets/svg/twitter.svg"     , 512)
                      .icon("sponsor"       , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('amber')
                          .warnPalette('red')
                          .backgroundPalette('grey');

              });

    </script>

    </md-content>
  </body>
</html>
